# Lờ các file cài đặt/debug cá nhân
*.suo
*.user
*.user.*
*.log

# === Node.js (Cho React) ===
# Lờ thư mục thư viện
/HealthLink_FE/node_modules/
/HealthLink_FE/obj/
/HealthLink_FE/src/config.js
# === Spring Boot ===
/HealthLink_BE/src/main/resources/application.properties
/HealthLink_BE/src/resources/application.properties
/HealthLink_BE/uploads/*
!/HealthLink_BE/uploads/.gitkeep
/HealthLink_BE/logs/*
# Lờ các file build output
/dist/
/dist-ssr/

# Lờ các file log của Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# === Hệ điều hành & Editor ===
# macOS
.DS_Store

# Visual Studio Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Rider / IntelliJ
.idea/

# DOC & Skills
/doc
/skills
/HealthLink_BE/doc/
/.agents
/knowledge.md
/.opencode
/graphify-out
/AGENTS.md
/.github
/.codex
/.graphify_cached.json
/.graphify_uncached.txt
/.graphify_analysis.json
/.graphify_ast.json
/.graphify_detect.json
/.graphify_extract.json
/.graphify_labels.json
/.graphify_semantic.json
/.claude
/CLAUDE.md



# === Custom ignores cho file XML do IDE sinh ra ===
HealthLink/HealthLink_BE/HealthLink_BEynbactions.xml
**/HealthLink_BEynbactions.xml

# Ignore tất cả file ynbactions.xml (an toàn)
*ynbactions.xml
